<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BoardList</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <p></p>
    <h1 class="text-center">게시판</h1>
    <div class="col-8.col-md-6 align-items-center">
        <table class="table text-center" id="postList">
            <thead class="thead-dark">
            <tr>
                <th scope="col">목차</th>
                <th scope="col">이름</th>
                <th scope="col">내용</th>
                <th scope="col">작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${postList}" th:id="${'tr'+post.id}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.content}"></td>
                <td th:text="${post.author}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <script>
        $(function () {
            $('#postList tr').click(function () {
                var tr = $(this);
                var id = tr.children('td')[0].innerHTML;
                console.log(id);

                location.href = '/boards/'+id;
            })
        })
    </script>
    <div class="align-self-end">
        <a href="http://localhost:8080/boards/write" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">글쓰기</a>
    </div>
</div>
</body>
</html>