<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BoardList</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.3/dist/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h1>게시판</h1>
    <div class="col-8.col-md-6 align-items-center">
        <table class="table align-content-center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">목차</th>
                <th scope="col">이름</th>
                <th scope="col">내용</th>
                <th scope="col">작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${postList}">
                <td th:text="${post.id}">emil</td>
                <td th:text="${post.title}">name</td>
                <td th:text="${post.content}">stat</td>
                <td th:text="${post.author}">super</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>